<div class="about">
    <div class="about__container">
        <div class="about__title">
            <div class="about__img">
                <img src="assets/img/gallery__img1.jpg" alt="">
            </div>
            <h1>I’m <span class="about__description_span">Walter Mark</span>. I live in Caloocan City, where I build my empire.</h1>
        </div>
        <div class="about__information">
            <div class="about__social">
                <div class="about__column">
                    <a href="https://www.facebook.com/profile.php?id=100010312959685" target="_blank" rel="noopener noreferrer">
                        <fa-icon [icon]="faFacebook"></fa-icon>
                    </a>
                    <a class="about__link" href="https://www.facebook.com/profile.php?id=100010312959685" target="_blank" rel="noopener noreferrer">Follow on Facebook</a>
                </div>
                <div class="about__column">
                    <a href="https://www.instagram.com/walterrmark/" target="_blank" rel="noopener noreferrer">
                        <fa-icon [icon]="faInstagram"></fa-icon>
                    </a>
                    <a class="about__link" href="https://www.instagram.com/walterrmark/" target="_blank" rel="noopener noreferrer">Follow on Instagram</a>
                </div>
                <div class="about__column">
                    <a href="https://github.com/Walterific" target="_blank" rel="noopener noreferrer">
                        <fa-icon [icon]="faGithub"></fa-icon>
                    </a>
                    <a class="about__link" href="https://github.com/Walterific" target="_blank" rel="noopener noreferrer">Follow on Github</a>
                </div>
                <div class="about__column">
                    <a href="https://x.com/b_inductiv7851" target="_blank" rel="noopener noreferrer">
                        <fa-icon [icon]="faXTwitter"></fa-icon>
                    </a>
                    <a class="about__link" href="https://x.com/b_inductiv7851" target="_blank" rel="noopener noreferrer">Follow on Twitter</a>
                </div>
                <div class="about__email_container">
                    <div class="about__email">
                        <a href="mailto:inductivo.waltermark.02162002@gmail.com" target="_blank" rel="noopener noreferrer">
                            <fa-icon [icon]="faEnvelope"></fa-icon>
                        </a>
                        <a class="about__link" href="mailto:inductivo.waltermark.02162002@gmail.com">inductivo.waltermark.02162002</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
