<div class="footer">
    <div class="footer__container">
        <ul class="footer__nav">
            <li routerLink="/about" class="footer__link">
              <a class="">About</a>
            </li>
            <li routerLink="/projects" class="footer__link">
              <a class="">Projects</a>
            </li>
            <li routerLink="/uses" class="footer__link">
              <a class="">Uses</a>
            </li>
        </ul>
        <span class="footer__copy">All Rights Reserved &#169; Walterific</span>
    </div>
</div>
