  <section class="home">
    <div class="home__container">
        <div class="home__data">
            <h1 class="home__title">IT Student and<br><span class="home__title__span">Future Web Developer<span class="home__title__closingtag">&lt;/&gt;</span></span></h1>
            <h1 class="home__title">Walterific</h1>
            <p class="home__description">I'm <span class="home__description_span">Walter Mark</span>, an IT student aspiring to become a successful developer. 
              I love creating designs, user interfaces, and 3D graphics.
            </p>
            <div class="home__social">
                <a href="https://www.facebook.com/profile.php?id=100010312959685" target="_blank" rel="noopener noreferrer">
                <fa-icon [icon]="faFacebook"></fa-icon>
                </a>
                <a href="https://www.instagram.com/walterrmark/" target="_blank" rel="noopener noreferrer">
                <fa-icon [icon]="faInstagram"></fa-icon>
                </a>
                <a href="https://github.com/Walterific" target="_blank" rel="noopener noreferrer">
                <fa-icon [icon]="faGithub"></fa-icon>
                </a>
                <a href="https://x.com/b_inductiv7851" target="_blank" rel="noopener noreferrer">
                <fa-icon [icon]="faXTwitter"></fa-icon>
                </a>
            </div>
        </div>
    </div>
  </section>
  <section class="home__gallery">
    <div class="home__images">
        <img src="assets/img/gallery__img1.jpg" alt="">
    </div>
    <div class="home__images">
        <img src="assets/img/gallery__img2.jpg" alt="">
    </div>
    <div class="home__images">
        <img src="assets/img/gallery__img3.jpg" alt="">
    </div>
    <div class="home__images">
        <img src="assets/img/gallery__img4.jpg" alt="">
    </div>
    <div class="home__images">
        <img src="assets/img/gallery__img5.jpg" alt="">
    </div>
  </section>
  <section class="email">
    <div class="email__container">
        <div class="email__title">
            <fa-icon [icon]="faEnvelope"></fa-icon>
            <p>Stay up to date</p>
        </div>
        <p class="email__description">Get notified when I publish something new, and unsubscribe at any time.</p>
        <div class="email__input">
            <form action="">
                <input type="text" placeholder="Email Address" class="email__text">
                <input type="submit" value="Join" class="email__submit">
            </form>
        </div>
    </div>
  </section>
  <section class="education">
      <div class="education__container">
        <div class="education__logo">
            <fa-icon [icon]="faBookOpen"></fa-icon>
            <h3>Education</h3>
        </div>
        
        <div class="education__info">
            <fa-icon [icon]="faBookOpen"></fa-icon>
            <div class="education__title">
                <h3>SVFC (No.1)</h3>
                <p>4 years</p>
            </div>
            <p>2021 - Present</p>
        </div>
        <div class="education__info">
            <fa-icon [icon]="faBookOpen"></fa-icon>
            <div class="education__title">
                <h3>Bestlink (BCP MV)</h3>
                <p>2 years</p>
            </div>
            <p>2019 - 2021</p>
        </div>
        <div class="education__info">
            <fa-icon [icon]="faBookOpen"></fa-icon>
            <div class="education__title">
                <h3>Llano High School</h3>
                <p>4 years</p>
            </div>
            <p>2016 - 2019</p>
        </div>
        <div class="education__info">
            <fa-icon [icon]="faBookOpen"></fa-icon>
            <div class="education__title">
                <h3>Llano Elementary School</h3>
                <p>6 years</p>
            </div>
            <p>2011 - 2016</p>
        </div>
        <a class="education__resume" href="assets/resume/resume.pdf" download="resume.pdf" target="_blank">
            <p>Download Resume</p>
            <fa-icon [icon]="faArrowDown"></fa-icon>
        </a>
    </div>
  </section>
